/* Basic Styling */
html, body {
    width: 100%;
    margin: 5;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/* Columns */
.left-column {
    width: 75%;
    position: relative;
}

.right-column {
    width: 35%;
    margin-top: 60px;
}


/* Left Column */
.left-column img {
    width: 70%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.left-column img.active {
    opacity: 1;
}


/* Right Column */


/* Size Selection */
.size-choose {
    margin-bottom: 20px;
}

.size-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
    margin: 5px;
}

.size-choose button:active,
.size-choose button:focus {
    border: 2px solid;
    background-color: #2d2d2d;
    color: #ffffff;
    outline: none;
}


/* Product Price */
.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: #2d2d2d;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}


/* Responsive */
@media (max-width: 940px) {
    .container {
        /*flex-direction: column;*/
        margin-top: 60px;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

    .left-column img {
        width: 450px;
        right: 0;
        top: -65px;
        left: initial;
    }
}

@media (max-width: 820px) {
    .container {
        flex-direction: column;
        margin-top: 60px;
    }


    .left-column img {
        width: 350px;
        top: -85px;
    }
}